body {
display: flex;
gap: 50px;
background: linear-gradient(#00858a, #b5ffff);
}

strong {
font-style: italic;
color: #3e8481;
position: absolute;
left: 14px;
top: 8px;
}

.contenedor-nombre {
max-height: 22%;
border-radius: 12px;
background-color: #57bbb4;
font-size-max: 40%;
position: absolute;
top: 18px;
right: 8px;
left: 8px;
color: #b4ffff;
font-style: italic;
text-align: center;
border: 2px solid #3e8481
}

.nombre {
padding: 10px;
margin: 2px 0;
}

.flexbox {
display: flex;
position: sticky;
top: 20px;
flex-flow: column wrap;
background-color: #57bbb4;
border-radius: 8px;
gap: 4%;
margin-top: 130px;
padding: 15px 10px 15px 10px;
height: 20px;
width: 98%;
border: 2px solid #3e8481;
z-index: 15
}

botton {
background-color: #4bb0a9;
padding: 4px;
border-radius: 8px;
border: 2px solid #3e8481;
text-decoration: none;
text-align: center;
position: relative;
top: -4px;
color: #3e8481;
transition-property: background, color;
transition-duration: 3s;
}

botton:hover {
background: linear-gradient(#3e8481, #28a799);
color: #b5ffff;
}

.fondo-parrafo {
position: absolute;
top: 220px;
background-color: #57bbb4;
border-radius: 12px;
padding: 18px;
border: 2px solid #3e8481;
}

.impresion {
height: auto;
padding: 0 10px 20px 10px;
padding-top: 0;
border-radius: 12px;
background-color: #4bb0a9;
font-size-max: 12px;
text-align: justify;
font-style: italic;
color: #3e8476;
border: 2px solid #42a8a1;
}
