body {
display: flex;
gap: 50px;
background: linear-gradient(#00858a, #b5ffff);
height: 150%;
flex-flow: column wrap;
}

strong {
font-style: italic;
color: #3e8481;
position: absolute;
left: 14px;
top: 8px;
}

.contenedor-nombre {
max-height: 22%;
border-radius: 12px;
background-color: #57bbb4;
font-size-max: 40%;
position: absolute;
top: 18px;
right: 8px;
left: 8px;
color: #b4ffff;
font-style: italic;
text-align: center;
border: 2px solid #3e8481;
opacity: 0.90;
}

.nombre {
padding: 10px;
margin: 2px 0;
}

.flexbox {
display: flex;
position: sticky;
top: 20px;
width: auto;
left: 8px;
right: 8px;
flex-flow: column wrap;
background-color: #57bbb4;
border-radius: 8px;
gap: 4%;
margin-top: 130px;
padding: 15px 10px 15px 10px;
height: 20px;
border: 2px solid #3e8481;
z-index: 15;
opacity: 0.90;
}

botton {
background-color: #4bb0a9;
padding: 4px;
border-radius: 8px;
border: 2px solid #3e8481;
text-align: center;
position: relative;
top: -4px;
color: #3e8481;
transition-property: background-color, color;
transition-duration: 2s;
font-style: italic;
}

botton:hover {
background-color: #3e8481;
color: #b5ffff;
}

a {
text-decoration: none;
color: #57b8b4;
}

.fondo-parrafo {
position: absolute;
top: 198px;
background-color: #57bbb4;
border-radius: 12px;
padding: 12px 5px 5px 3px;
border: 2px solid #3e8481;
left: 8px;
right: 8px;
opacity: 0.85;
height: auto
}

.impresion {
height: auto;
padding: 0px 5px 7px 5px;
border-radius: 12px;
background-color: #4bb0a9;
font-size: 11.5px;
text-align: justify;
font-style: italic;
color: #3e8476;
border: 2px solid #42a8a1;
}

.figura1 {
width: 50%;
height: 270px;
border-radius: 8px 8px 40% 8px;
background-color: #b5ffff;
position: absolute;
top: 0;
left: 0;
z-index: -10;
opacity: 0.4
}

.figura2 {
width: 160px;
height: 160px;
border-radius: 120%;
background-color: #b5ffff;
opacity: 0.6;
position: absolute;
top: 230px;
left: 55%;
z-index: -10
}

.fondo-parrafo1 {
display: flex;
position: absolute;
top: 375px;
background-color: #57bbb4;
border-radius: 12px;
padding: 16px;
border: 2px solid #3e8481;
left: 8px;
right: 8px;
opacity: 0.85;
}

.introduccion {
height: auto;
padding: 10px;
border-radius: 12px;
background-color: #4bb0a9;
font-size: 12px;
text-align: justify;
font-style: italic;
color: #3e8476;
border: 2px solid #42a8a1;
}
